{% extends "base.html" %}
{% load widget_tweaks %}

{% block body %}
  <div class="row alinhamento-central">
    <span class="titulo-pagina">&lt;&lt; Documento &gt;&gt;</span>
  </div>
  {% if messages %}
  <div class="row alinhamento-central">
    <div class="alert alert-danger" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="row alinhamento-central">
    <form class="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
  </div>
  <div class="row alinhamento-central">
    <a href="{% url 'home' %}" class="btn botao-padrao">Voltar</a>
    <button type="submit" class="btn botao-padrao botao-verde">Upload</button>
  </div>
  </form>
{% endblock body %}
